body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#navbar{
    color: white;
    background-color:black ;
    border: 2px solid black;
    z-index: 100;
}
#text{
    text-align: center;
}
.navbar ul li{
    margin-left: 90px;
    display: inline-block;
    list-style-type: none;
    padding:  10px;
}
.dropdown2{
    display: none;
}
ul li:hover .dropdown2{
    display: block;
    position: absolute;
    margin-left: -102px;
    margin-top: 10px;
}
.dropdown2 ul{
    margin: 0px;
    padding: 0px;
}
.dropdown2 ul li{
    color: white;
    background-color:black ;
    border: 2px solid black;
    display: block;
}
.dropdown2 ul li:hover{
    background-color: green ;
    color: white;
}
.dropdown3{
    display: none;
}
.dropdown2 ul li:hover .dropdown3{
    display: block;
    position: absolute;
    margin-left: 46px;
    margin-top: 10px;
}
.dropdown3 ul{
    margin: 0px;
    padding: 0px;
}
.dropdown3 ul li{
    color: white;
    background-color:black ;
    border: 2px solid black;
    display: block;
}
.dropdown3 ul li:hover{
    background-color: green ;
    color: white;
}
.backlink{
    text-decoration: none;
    color: white;
}
header{
    position: sticky;
    top: 0px;
}
#content{
    margin: 100px;
    margin-top: 50px;
}
#heading{
    font-weight: 900 !important;
}
.carousel{
    position:absolute !important;
    z-index: -1 !important;
    left: 400px !important;
    width: 800px !important;
}
.text{
    font-size: 18px;
}
pre{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#content li{
    font-weight: bolder;
}
#content .notbold li{
    font-weight: normal;
}
#image{
    margin-left: 70px;
    height: 500px;
    width: 1200px;
}
